Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Allow access to all files
<FilesMatch ".*">
    Order allow,deny
    Allow from all
</FilesMatch>

# Set default index file
DirectoryIndex index.html

# Enable CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
